/* Larger screens */
@media (min-width: 768px) {
  #temple-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    background: none;
    position: static;
    justify-content: center;
  }

  nav ul li {
    margin: 0 1rem;
  }

  #hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {
  main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Always have 3 columns */
    gap: 1.5rem; /* Add space between items */
  }
}
